.gpt3_footer {
  display: flex;
  justify-content: center;
}
.gpt3_footer p {
  font-family: var(--font-family);
  font-size: 12px;
  line-height: 14px;
  font-feature-settings: "liga" off;

  color: #ffffff;
}
